<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/scss/images/marvel-logo.png" alt="Logo" width="100"
                class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#movieNav"
            aria-controls="movieNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="movieNav" aria-labelledby="movieNav">
            <div class="offcanvas-header">
                <img class="offcanvas-top" src="assets/scss/images/marvel-logo.png" alt="marvel-logo" width="100">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
